# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
.env
.env.*.local

# Compilados y cachés
.cache/
build/
dist/
.tmp/
.coverage/

# Base de datos local de desarrollo (si usas SQLite)
*.sqlite
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# VSCode y otros entornos
.vscode/
.idea/

# Archivos de Strapi específicos
public/uploads/

# Logs
*.log

# PM2 logs y procesos
pids/
logs/
*.pid
*.seed

# Docker (si lo usas)
docker-compose.override.yml
